main > .about_wrapper > span {
    background-image: var(--bi-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--ff-satisfy);
    font-weight: 700;
    font-size: large;
    font-style: normal;
   
}

main{
    margin-top: 3.5rem;
}

.about_container {
    margin: 7.5rem auto 0 auto;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2.5rem;
}

@media (max-width: 768px) {
    .about_container {
        flex-direction: column-reverse;
        align-items: center;

    }
}
.about_wrapper {
  width: clamp(19rem, 65vw, 35rem);
}
.about_wrapper > h1 {
    font-weight: 700;
    font-size: var(--fs-large);
}
.about_wrapper > h2 {
    text-transform: capitalize;
    margin-top: 12px;
    margin-bottom: 10px;

}
.about_wrapper > p {
    font-size: 1.2rem;
    line-height: 1.44;
}
.about_wrapper .btn {
    all: unset;
    margin-top: 50px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    background-image: var(--bi-gradient);
    font-size: 1rem;
    font-weight: 700;
}

.about_wrapper .btn > a {
    all: unset;
}
.image_wrapper > img {
    width: clamp(18rem, 32vw, 24rem);
}

.icon_wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.icon_wrapper  .icon {
    font-size: 1.5rem;
    background-color: rgba(27, 22, 22, 0);
    border-radius: 100%;
    margin-right: 6px;
    padding: 4px;
    cursor: pointer;
}
.icon_wrapper > span {
    font-size: 1.2rem;
    line-height: 1.44rem;
    padding-bottom: 6px;
}

.dummy {
    width: full;
    height: 300px;
}